@use "../../variables/variables";

.button {
  color: variables.$light-font-color;
  &--trasparent {
    background-color: transparent;
  }

  &--solid {
    &--orange {
      background-color: variables.$primary-dark-color;
      &::before {
        -webkit-text-stroke: 1.5px variables.$primary-dark-color;
      }
    }

    &--black {
      background-color: variables.$primary-font-color;
      &::before {
        -webkit-text-stroke: 1.5px variables.$primary-font-color;
      }
    }
  }
  &--small {
    text-align: center;
    align-items: center;
    width: 60px;
    height: 66px;
    border-radius: 12px;
    font-size: 27px;
    padding: 20px 10px;
  }

  &--medium {
    border-radius: 12px;
    padding: 16px 24px;
    width: 127px;
    height: 56px;
    text-align: center;
    text-transform: uppercase;
    font-family: variables.$secondary-font-family;

    @media (min-width: 767px) {
      padding: 20px 40px;
      width: 159px;
      height: 64px;
    }
  }

  &--big {
    width: 170px;
    height: 216px;
    border-radius: 0 20px 20px 0;
    padding: 60px 20px;
    gap: 12px;
  }

  &--rotate-anticlockwise {
    transform: rotate(-90deg);
  }

  &--rotate-clockwise {
    transform: rotate(90deg);
  }
}

.button-container {
  display: flex;
  align-items: center;
  gap: 32px;
  align-self: stretch;

  &--null-gap {
    gap: 0px;
  }

  @media (max-width: 767px) {
    &__phone {
      &--hide {
        display: none;
      }

      &--bottom {
        display: flex;
        justify-content: center;
        gap: 32px;
        align-self: stretch;
        padding-bottom: 80px;
      }
    }
  }

  @media (min-width: 767px) {
    &__desktop {
      &--hide {
        display: none;
      }
    }
  }
}
