@use "../../variables/variables";

.button {
  color: #fff;
  font: optional;
  &--trasparent {
    background-color: transparent;
  }

  &--solid {
    &--orange {
      background-color: variables.$primary-dark-color;
      &::before {
        -webkit-text-stroke: 1.5px variables.$primary-dark-color;
      }
    }

    &--black {
      background-color: variables.$primary-font-color;
      &::before {
        -webkit-text-stroke: 1.5px variables.$primary-font-color;
      }
    }
  }
  &--small {
    text-align: center;
    align-items: center;
    width: 60px;
    height: 66px;
    border-radius: 12px;
    font-size: 27px;
    padding: 20px 10px;
  }

  &--medium {
    border-radius: 12px;
    padding: 20px 40px;
  }

  &--big {
    width: 170px;
    height: 216px;
    border-radius: 0 20px 20px 0;
    padding: 60px 20px;
    gap: 12px;
  }

  &--rotate-anticlockwise {
    transform: rotate(-90deg);
  }

  &--rotate-clockwise {
    transform: rotate(90deg);
  }
}
