@use "../variables/variables";

html {
  font-family: variables.$main-font-family;
  color: variables.$primary-dark-color;
}

img {
  max-width: 100%;
  object-fit: cover;
}

button {
  cursor: pointer;
}
