$main-font-family: "Playfair Display", serif;
$secondary-font-family: "Rubik", sans-serif;
$primary-dark-color: #ff7757;
$primary-soft-color: #ffd2c7;
$secondary-dark-color: #331811;
$secondary-soft-color: #61291c;
$primary-font-color: #172432;
$secondary-font-color: #767e86;
$light-font-color: #fff;
