@use "../../variables/variables";

@media (min-width: 767px) {
  .cities {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    position: relative;
    align-items: flex-start;
    gap: 20px;
    padding-top: 100px;
    padding-bottom: 100px;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .card {
    border-radius: 26px;
    width: 497px;
    height: 661px;
    object-fit: cover;
    position: relative;
  }

  .images-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    bottom: 40px;
    left: 24px;
  }

  .image-big-text {
    font-family: variables.$secondary-font-color;
    color: variables.$light-font-color;
    font-size: 28px;
    flex: 1 0 0;
  }

  .image-small-text {
    font-family: variables.$secondary-font-color;
    color: variables.$light-font-color;
    font-size: 24px;
    flex: 1 0 0;
  }
}

@media (max-width: 767px) {
  .cities {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    position: relative;
    align-items: flex-start;
    gap: 16px;
    padding-top: 100px;
    padding-bottom: 100px;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .card {
    border-radius: 26px;
    width: 288px;
    height: 320px;
    object-fit: cover;
    position: relative;
  }

  .images-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    bottom: 40px;
    left: 24px;
  }

  .image-big-text {
    font-family: variables.$secondary-font-color;
    color: variables.$light-font-color;
    font-size: 24px;
    flex: 1 0 0;
  }

  .image-small-text {
    font-family: variables.$secondary-font-color;
    color: variables.$light-font-color;
    font-size: 18px;
    flex: 1 0 0;
  }
}
