@use "../../variables/variables";
@use "../../core/globals";
@use "../button/button";

@media (max-width: 767px) {
  .main {
    padding: 80px 16px;
    display: flex;
    flex-direction: column;
  }

  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 320px;

    &--reverse {
      flex-direction: row-reverse;
    }
  }

  .title-container {
    padding-bottom: 15px;
  }

  .title {
    font-family: variables.$main-font-family;
    color: variables.$primary-font-color;
    font-size: 40px;
    line-height: normal;
    align-self: stretch;
  }

  .text {
    font-family: variables.$secondary-font-family;
    color: variables.$secondary-font-color;
    font-size: 18px;
    line-height: normal;
    align-self: stretch;
  }

  .color-line {
    background-color: variables.$primary-dark-color;
    height: 3px;
    width: 227px;
    margin-top: 20px;
    margin-bottom: 32px;
  }
}

@media (min-width: 767px) {
  .main {
    padding: 140px 32px;
    display: flex;
    flex-direction: column;
  }

  .header {
    display: flex;
    flex-direction: row;
  }

  .header-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;

    &--reverse {
      flex-direction: row-reverse;
    }
  }

  .title-container {
    padding-bottom: 15px;
  }

  .title {
    font-family: variables.$main-font-family;
    color: variables.$primary-font-color;
    font-size: 64px;
    line-height: normal;
    align-self: stretch;
  }

  .text {
    font-family: variables.$secondary-font-family;
    color: variables.$secondary-font-color;
    font-size: 24px;
    line-height: normal;
    align-self: stretch;
  }

  .color-line {
    background-color: variables.$primary-dark-color;
    height: 3px;
    width: 365px;
    margin-top: 20px;
    margin-bottom: 32px;
  }

  .button-container {
    display: flex;
    align-items: flex-end;
    gap: 32px;
    align-self: stretch;
  }

  .buttons {
    display: flex;
    align-items: flex-start;
    gap: 40px;
  }

  .button--small--right {
    display: flex;
    padding: 28px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
  }

  .button--small-left {
    display: flex;
    padding: 28px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
  }
}
